@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap');

html, body {
  margin:0;
}
* {
  font-family: Raleway !important;
}

svg {
  cursor: pointer;
}

ul {
  text-decoration: none;
  padding-left:0;
  list-style: none;
}

